{% extends 'header.html' %}
{% block content %}
<h3>login</h3><hr>
<form action="../authentication/" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <p>{{field.label}}:<br> {{field}}</p>
            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
 
    <button type="submit">Login</button>
    
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>
{% endblock %}
