    {% extends 'header.html' %}
    {% block content %}
   
    <div>
	    <h2 >Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form action="http://127.0.0.1:8000/password_confirm/" method="POST">
            {% csrf_token %}

            <div>user name <input type="text" name="user_name" required></div><br>
           <div> new password <input type="password" name="new_password" required> </div> <br>
           <div> confrim password <input type="password" name="confirm_password" required></div>
           
            <button type="submit">Reset password</button>
        </form>
    </div>
    {% endblock %}